	<section id="fh5co-work" data-section="work">
		<div class="container">
			<div class="row">
				<div class="col-md-12 section-heading text-center">
					<h2 class="to-animate">{{ with .Site.Params.work.title }}{{ . }}{{ end }}</h2>
				</div>
			</div>
			<div class="row tabs">
				<div class="col-md-2 col-lg-2 tab active">
					<h2>Tab #1</h2>
				</div>
				<div class="col-md-2 col-lg-2 tab">
					<h2>Tab #2</h2>
				</div>
				<div class="col-md-2 col-lg-2 tab">
					<h2>Tab #3</h2>
				</div>
				<div class="col-md-2 col-lg-2 tab">
					<h2>Tab #4</h2>
				</div>
			</div>
		</div>
	</section>
